* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  display: flex;
  position: relative;
}

.sidebar-container button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

.sidebar-container{
}

.sidebar {
  height: 100%;
  background-color: #191718;
}

.sidebar li {
  padding: 10px;
  min-width: 150px;
  border-bottom: 1px solid #5C5C5C;
}

.sidebar li.active .sidebar__link {
  color: #fff;
}

.sidebar li:hover .sidebar__link {
  color: #fff;
}

.sidebar__link {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 1.6rem;
  font-weight: 600;
}

.sidebar li:active {
  background-color: #5C5C5C;
}

.content{
  flex: 1;
  text-align: center;
}

.logo {
  max-width: 310px;
  margin-top: 20px;
}

.content__main {
  width: 90%;
  margin: 0 auto;
}

.content__top {
  background-color: #EFEFEF;
  padding: 38px 9%;
  margin-top: 30px;
}

.content__title{
  font-size: 1.8rem;
}

.content__text {
  font-size: 1.6rem;
  padding-top: 18px;
}

.content__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.content_item {
  width: 31%;
}

.content-item__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 18px;
}

.content-item__content {
  text-align: unset;
}

.content-item__img {
  width: 128px;
  float: left;
  margin-right: 10px;
}

.content-item__text {
  font-size: 1.6rem;
  text-align: left;
}

.copyright {
  padding: 30px 5%;
  margin-top: 100px;
  border-top: 1px solid #DEDEDE;
}

.copyright p {
  text-align: left;
  color: #3E3E3E;
  font-size: 1.6rem;
}

.sidebar.tablet {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
  animation: slideRight 0.3s ease-in forwards;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  opacity: 1;
  transition: 0.3s;
}

.overlay.hide {
  display: none;
  opacity: 0;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }

  .sidebar-container button {
    display: block;
  }
}

@media (max-width: 767px) {
  .content__bottom {
    flex-direction: column;
  }

  .content_item {
    flex: 1;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
}

@keyframes slideRight {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}